.Grid {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Gird__main {
  display: grid;
  justify-items: center;
  gap: 30px;
  overflow-y: scroll;
  padding-top: 20px;
}
