.Grid {
  display: grid;
  grid-template-rows: 48px auto 48px;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

.Gird__main {
  display: grid;
  justify-items: center;
  gap: 20px;
  overflow-y: scroll;
  padding: 20px;
}
