.Card {
  background-color: var(--color-primary);
  box-shadow: 0px 5px 5px var(--color-shadow);
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.Card__title {
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.4em;
  line-height: 1em;
  padding-left: 20px;
  width: 90%;
  color: var(--color-dark);
}

.Card__detailsButton {
  border: none;
  background-color: transparent;
}

.Card__detailsBtSymbol {
  fill: var(--color-dark);
  width: 20px;
  position: absolute;
  right: 15px;
  top: 18px;
}

.Card__detailsBtSymbol--active {
  fill: var(--color-active);
  width: 20px;
  position: absolute;
  right: 15px;
  top: 18px;
}

.Card__detailsLikeButton {
  fill: var(--color-dark);
  width: 20px;
  position: absolute;
  right: 55px;
  top: 18px;
}

.Card__detailsLikeButton--active {
  fill: var(--color-active);
}

.Card__details {
  display: flex;
  gap: 20px;
}

.Card__detailsList {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  list-style: none;
  margin: 0 0 10px;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr auto;
}

.Card__detailsList dt {
  padding-right: 7px;
}

.Card__detailsList dd {
  margin-left: 0;
}

.Card__profilePic {
  width: 120px;
  height: 120px;
  border-radius: 0 4px;
}

[hidden] {
  display: none !important;
}
