.Navigation {
  background-color: var(--color-grey);
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}

.Navigation__button {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  border: none;
  fill: var(--color-dark);
  background-color: transparent;
}

.Navigation__button--active {
  fill: var(--color-active);
}
