.Navigation {
  background-color: lightgreen;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
  color: lightcyan;
}

.Navigation__button {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  border: none;
  fill: #444;
  background-color: transparent;
}
